.DS_Store
node_modules
**/node_modules
**/dist

/test/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local
**/.env.local
**/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
# .vscode - project launch / debug configs are relevant here. Also custom snippets, etc.
*.suo
*.ntvs*
*.njsproj
*.sln

# Temp notes for issue management while offline
/issues

# The caddy (web server) config file
vue/Caddyfile

# Cyrpress build artifacts
/packages/vue/cypress
