[Unit]
Description=eduQuilt express API

[Service]
ExecStart=/usr/bin/node /home/skuilder/api/express/src/app.js /home/skuilder/.env.production
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'.
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/skuilder/api/express
StartLimitAction=0

[Install]
WantedBy=multi-user.target
